/* 主体 */
body {	
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
  
/* 居中 */
.container {
	margin: 0 auto;
}

/* 浮动 */
.fl {
	float: left;
}
.fr {
	float: right;
}

/* 清除浮动 */
.clearfix {
	clear: both;
}

/* 标题 */
h1 {
	text-indent: -9999px;
	margin: 0;
}
h2 {
	margin: 0;
	font-weight: normal;
	font-size: 32px;
}
h3 {
	margin: 0;
	font-weight: normal;
	font-size: 26px;
}

/* 链接 */
a {
	text-decoration: none;
}

/* 间隔 */
em {
	padding: 0 40px 0 44px;
}

/* 内容位置 */
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.ver-middle {
	vertical-align: middle;
}

/* 颜色 */
.black {
	color: #000;
}
.white {
	color: #fff;
}
.grey {
	color: #333;
}
.mid-grey {
	color: #666;
}
.light-grey {
	color: #999;
}
.green {
	color: #17BA7B;
}
.orange {
	color: #F49E21;
}
.lighter-grey {
	color: #ccc;
}

/* 字号 */
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.font22 {
	font-size: 22px;
}
.font24 {
	font-size: 24px;
}
.font28 {
	font-size: 28px;
}
.font32 {
	font-size: 32px;
}

/* 字形 */
.bold {
	font-weight: bold;
}

/* 位置 */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}

/* 隐藏 */
.hid {
	display: none;
}

/* 行内块级元素 */
.inline-block {
	display: inline-block;
}

/* 分页 */
.swiper-pagination-bullets {
	bottom: 48px!important;
}
.swiper-pagination-bullet {
	margin: 0 8px!important;
	width: 16px;
	height: 16px;
	opacity: 1;
	background: #CAC8C8;
}
.swiper-pagination-bullet-active {
	background: #17BA7B;
}