/* 公共部分 */
.wrapper {
	width: 1200px;
}
.content {
	padding-top: 80px;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	background: url('../image/web-icon.png') no-repeat;
}
.divider {
	height: 2px;
	background: #eee;
}
.divider-green {
	width: 128px;
	height: 2px;
	background: #17BA7B;
}
.sub-title {
	font-size: 13px;
	margin-bottom: 16px;
}

/* 回到顶部 */
.to-top {
	display: none;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
}
.icon-rocket {
	width: 65px;
	height: 65px;
	background-position: -169px -549px;
}

/* 导航 */
.hjl-logo {
	width: 66%;
}
.nav a {
	display: inline-block;
	margin-left: 12px;
	padding: 10px 18px 8px 18px;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
}
.nav .active {
	background: #17BA7B;
}
.tel {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom:10px
}
.icon-tel {
	margin-right: 6px;
	width: 15px;
	height: 20px;
	background-position: -175px -12px;
	background-size:400px 533px;
}
.city {
	color: #17BA7B;
}
.join-bg .nav a {
	color: #222;
}
.join-bg .nav .active {
	color: #fff;
}
.join-bg .tel {
	color: #222;
}
.join-bg .icon-tel {
	margin-right: 6px;
	width: 15px;
	height: 20px;
	background-position: -164px -32px;
	background-size:400px 533px;
}

/* 页脚 */
.foot {
	height: 240px;
	background: #35353C;
}

/* 首页 */
.index-bg {
	height: 720px;
	background: url("../image/index-bg.jpg") no-repeat center;
}
.advantage > li {
	display: inline-block;
	margin-top: 54px;
	margin-right: 22px;
	width: 278px;
	height: 248px;
	border-radius: 5px;
	border: 1px solid #eee;
}
.advantage > li:last-child {
	margin-right: 0;
}
.icon-advantage {
	margin-top: 20px;
	margin-bottom: 28px;
	width: 103px;
	height: 103px;
}
.icon-phone {
    background-position: -20px -202px;
}
.icon-video {
	background-position: -143px -202px;
}
.icon-change {
	background-position: -265px -202px;
}
.business-item {
	margin-right: 40px;
}
.icon-job {
	display: inline-block;
	vertical-align: middle;
	width: 118px;
	height: 118px;
	background: url('../image/icon-job.png') no-repeat;
}
/* 烧饭 */
.icon-2 {
	background-position: -544px -147px;
}
/* 保洁 */
.icon-1 {
	background-position: -16px -15px;
}
/* 烧饭保洁 */
.icon-9 {
	background-position: -412px -147px;
}
/* 月嫂 */
.icon-3 {
	background-position: -412px -15px;
}
/* 育婴 */
.icon-4 {
	background-position: -148px -15px;
}
/* 护理&护工 */
.icon-5,.icon-7 {
	background-position: -280px -15px;
}
/* 司机 */
.icon-8 {
	background-position: -148px -147px;
}
/* 劳务 */
.icon-21 {
	background-position: -16px -147px;
}
.business-item-detail {
	margin-top: 46px;
	width: 558px;
	height: 118px;
	border: 1px solid #eee;
}
.business-item-check {
	display: none;
	width: 558px;
	height: 124px;
	background: #fff;
	box-shadow: 1px 1px 5px #ddd;
}
.ayi-button {
	font-size: 16px;
	color: #fff;
	padding: 8px 26px;
	background: #17BA7B;
	border: none;
	border-radius: 50px;
}
.update-time {
	top: 18px;
	right: 18px;
}
.worker > li {
	margin-top: 40px;
}
.worker-item {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 40px;
}
.worker-item:last-child {
	margin-right: 0;
}
.worker-item-detail {
	width: 278px;
	height: 118px;
	border: 1px solid #eee;
}
.photo {
	width: 78px;
	height: 78px;
	margin: 20px 20px 0 24px;
	border: 1px solid #eee;
}
.photo img {
	height: 100%;
}
.worker-item-check {
	display: none;
	width: 280px;
	height: 128px;
	background: #fff;
}
.qr {
	width: 88px;
	height: 88px;
	border: 1px solid #eee;
}
.shadow {
	box-shadow: 0px 0px 5px #ccc;
}

/* 弹窗 */
.join-modal {
	display: none;
	height: 560px;
	padding: 1px;
	background: #fff;
}
.icon-close {
	display: inline-block;
	margin-top: 24px;
	margin-right: 30px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background-position: -262px -157px;
}
.icon-join {
	display: inline-block;
	width: 116px;
	height: 116px;
	background-position: -283px -41px;
}
.join {
	margin: 0 30px;
}
.join > li {
	display: inline-block;
	float: left;
	margin-right: 35px;
	width: 198px;
	height: 188px;
	border: 1px solid #eee;
}
.apply > li {
	display: inline-block;
	float: left;
	margin-right: 25px;
	width: 218px;
	height: 188px;
	border: 1px solid #eee;
}
.join > li:last-child, .apply > li:last-child {
	margin-right: 0;
}
.icon-join-1 {
	display: inline-block;
	margin-top: 20px;
	width: 44px;
	height: 42px;
	background-position: -419px -41px;
}
.icon-join-2 {
	display: inline-block;
	margin-top: 20px;
	width: 42px;
	height: 42px;
	background-position: -483px -41px;
}
.icon-join-3 {
	display: inline-block;
	margin-top: 20px;
	width: 44px;
	height: 44px;
	background-position: -545px -41px;
}
.icon-join-4 {
	display: inline-block;
	margin-top: 20px;
	width: 38px;
	height: 45px;
	background-position: -419px -105px;
}
.icon-join-5 {
	display: inline-block;
	margin-top: 20px;
	width: 43px;
	height: 42px;
	background-position: -477px -105px;
}
.join-button {
	font-size: 16px;
	color: #fff;
	padding: 10px 58px;
	border: none;
	border-radius: 15px;
	background: #17BA7B;
}

/* 找阿姨 */
.ayi-bg {
	height: 520px;
	background: url("../image/ayi-bg.jpg") no-repeat center;
}
.feature > li {
	display: inline-block;
	margin-top: 54px;
	margin-right: 22px;
	width: 278px;
	height: 248px;
	border-radius: 5px;
	border: 1px solid #eee;
}
.feature > li:last-child {
	margin-right: 0;
}
.icon-feature {
	display: inline-block;
	margin-top: 40px;
	width: 74px;
	height: 74px;
}
.icon-feature-phone {
    background-position: -20px -463px;
}
.icon-feature-video {
	background-position: -114px -463px;
}
.icon-feature-aim {
	background-position: -208px -463px;
}
.icon-feature-change {
	background-position: -302px -463px;
}
.type-select {
	width: 216px;
	height: 50px;
	text-indent: 10px;
	border-radius: 5px;
	border: 1px solid #eee;
}
/* 找门店按钮 */
.swiper-button-prev {
	top: 98%;
	left: 41%;
	width: 90px;
	background-image: none;
}
.swiper-button-next {
	top: 98%;
	right: 41%;
	width: 90px;
	background-image: none;
}
.swiper-button-disabled {
	opacity: 1!important;
}
.swiper-text {
	color: #17BA7B;
	text-decoration: underline;
}
.swiper-button-disabled .swiper-text {
	color: #999;
	text-decoration: none;
}
.swiper-icon {
	width: 12px;
	height: 21px;
}
.swiper-icon-left {
	margin-right: 22px;
	background-position: -387px -202px;
}
.swiper-button-disabled .swiper-icon-left {
	margin-right: 22px;
	background-position: -387px -233px;
}
.swiper-icon-right {
	margin-left: 22px;
	background-position: -408px -202px;
}
.swiper-button-disabled .swiper-icon-right {
	margin-left: 22px;
	background-position: -408px -233px;
}

.shop-list-item {
	display: inline-block;
	width: 578px;
	height: 98px;
	margin-right: 20px;
	margin-bottom: 30px;
	border: 1px solid #eee;
}
.shop-list-item-active {
	background: #F6FCFF;
}
.img-wrapper {
	width: 78px;
	margin-left: 10px;
	overflow: hidden;
}
.shop-logo {
	width: 78px;
	height: 78px;
	margin-top: 10px;
}
.shop-qr {
	left: -78px;
	margin-top: 10px;
	width: 78px;
	height: 78px;
	background: #ccc;
}
.shop-info {
	width: 370px;
	margin-left: 30px;
}
.icon-shop {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 5px;
	width: 21px;
	height: 21px;
	vertical-align: middle;
	background-position: -399px -157px;
}
.star {
	margin-top: 2px;
	margin-bottom: 9px;
	width: 135px;
	height: 22px;
}
.star5 {
	background-position: -396px -463px;
}
.star4 {
	background-position: -396px -495px;
}
.star3 {
	background-position: -396px -527px;
}
.star2 {
	background-position: -396px -559px;
}
.star1 {
	background-position: -396px -591px;
}
.star0 {
	background-position: -396px -623px;
}
.icon-gold {
	margin-top: 18px;
	margin-right: 20px;
	width: 50px;
	height: 62px;
	background-position: -540px -105px;
}
.ad-bg {
	padding-top: 1px;
}
.orange-bg {
	height: 180px;
	background: url('../image/orange-bg.jpg') no-repeat center;
}


/* 门店入驻 */
.join-bg {
	background: url('../image/join-bg.jpg') no-repeat top center;
}
.title-img {
	margin-top: 32px;
	width: 614px;
	height: 223px;
	background: url('../image/title-img.png') no-repeat;
}
.join-content {
	background: #fff;
	margin-top: 126px;
	padding-top: 26px;
}
.apply-button {
	color: #fff;
	font-size: 26px;
	margin-top: 55px;
	padding: 16px 70px;
	border: none;
	border-radius: 5px;
	background: #17BA7B;
}
.module {
	margin: 50px 45px 80px;
}
.module > li {
	margin-bottom: 30px;
	width: 1108px;
	height: 138px;
	border: 1px solid #eee;
}
.module > li:last-child {
	margin-bottom: 0;
}
.module-title {
	width: 290px;
	height: 138px;
	line-height: 138px;
	border-right: 1px solid #eee;
}
.icon-module {
	display: inline-block;
	height: 61px;
	vertical-align: middle;
}
.icon-person {
	width: 61px;
	background-position: -20px -634px;
}
.icon-order {
	width: 55px;
	background-position: -100px -634px;
}
.icon-finance {
	width: 52px;
	background-position: -176px -634px;
}
.icon-data {
	width: 52px;
	background-position: -248px -634px;
}
.icon-service {
	width: 56px;
	background-position: -20px -715px;
}
.icon-online-shop {
	width: 54px;
	background-position: -96px -715px;
}
.icon-tv {
	width: 51px;
	background-position: -170px -715px;
}
.module-subtitle {
	width: 212px;
	padding-top: 17px;
	padding-left: 60px;
}
.green-bg {
	height: 180px;
	line-height: 180px;
	background: url('../image/green-bg.jpg') no-repeat center;
}


/* 关于我们 */
.about-bg {
	height: 520px;
	background: url("../image/about-bg.jpg") no-repeat center;
}
.shop, .icon-cooperate {
	width: 98px;
	height: 98px;
	border-right: 1px solid #eee;
}
.cooperate {
	margin-top: 60px;
	margin-bottom: 60px;
}
.cooperate > div {
	border: 1px solid #eee;
}
.icon-tel-green {
	display: inline-block;
	width: 55px;
	height: 55px;
	background-position: -20px -559px;
}
.icon-address {
	display: inline-block;
	width: 55px;
	height: 49px;
	background-position: -95px -559px;
}
.map {
	height: 326px;
	border: 2px solid #eee;
}

